/* CSS declarations go here */

input#query{
	width: 200px;
}

.fixed{
	color: green;
}
.variable{
	color: red;
}
.nowPlaying{
	color: blue;
}

.youtubeContainer-hidden
{
  display: none;
  /*position: absolute;
  left: -9999px;
  top: -9999px;*/
}

.youtubeContainer-active
{
  position: relative;
  padding-bottom: 56.25%;
}

.youtubeContainer-active #player
{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/*.youtubeContainer-active iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

